@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css');
body {
  font-family: "Inter", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Inter", sans-serif;
}

.font-300 {
  font-weight: 300 !important;
}
.font-400 {
  font-weight: 400 !important;
}
.font-500 {
  font-weight: 500 !important;
}
.font-600 {
  font-weight: 600 !important;
}
.font-700 {
  font-weight: 700 !important;
}
.font-800 {
  font-weight: 800 !important;
}
